.home-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.landing-text {
  font-size: 1.875rem;
  font-size: clamp(
    1.875rem,
    0.4464285714285716rem + 2.976190476190476vw,
    3.125rem
  );
}

.home-subheadline {
  font-size: clamp(1rem, 0.571rem + 0.893vw, 1.375rem);
}
.home-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 20%;
  transition: background-color 1s ease-in-out, color 0.5s ease-in-out;
}
.home-btn:hover {
  background-color: #0a324b;
  color: #93c5fd;
}
.home-text {
  font-size: 0.75rem;
  font-size: clamp(
    0.75rem,
    0.5714285714285714rem + 0.8928571428571428vw,
    1.375rem
  );
}
@media (max-width: 1024px) {
  .home-btn {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .landing-text {
    font-size: 1rem;
    font-size: clamp(
      1rem,
      0.5982142857142858rem + 2.008928571428571vw,
      1.5625rem
    );
  }
  .home-btn {
    width: 50%;
  }
}
.intro-section {
  position: relative;
  background-image: url('/Images/Banking.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* Darken and blur using a pseudo-element */
.intro-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
  backdrop-filter: blur(5px);          /* Blur effect */
  z-index: 1;
}

/* Ensure content appears above the overlay */
.intro-section > * {
  position: relative;
  z-index: 2;
}


@media (max-width: 768) {
  .intro-section {
padding: unset !important;
   
  }
}